<li class="item action flexrow" data-action="{{action._id}}" data-item-name="{{action.name}}" data-item-id="{{action._id}}">
    <div class="action-header">
        <div class="action-name rollable">
            <h4><a>{{action.name}} <span class="activity-icon">{{action.glyph}}</span></a></h4>
        </div>
        <div class="action-controls controls">
            <a class="item-chat chat" title="{{ localize 'PF2E.NPC.SendToChat'}}"><i class="fas fa-comment-alt"></i></a>
            {{#if isEditable }}
            <a class="item-edit edit" title="{{ localize 'PF2E.NPC.Edit'}}"><i class="fas fa-edit"></i></a>
            <a class="item-delete delete" title="{{ localize 'PF2E.NPC.Remove' }}"><i class="fas fa-trash"></i></a>
            {{/if}}
        </div>
    </div>
</li>
