> .message-header {
    .flavor-text {
        h4.action {
            font-weight: 700;
            line-height: 1.5em;
            margin: 0;
        }

        .target-dc-result {
            line-height: 0.75rem;
            margin-bottom: 4px;

            .target-dc, .result {
                display: block;
                margin: 1px 0;
                width: fit-content;
            }

            .preadjusted-dc {
                text-decoration: line-through;
            }

            .adjusted-dc {
                text-decoration: underline dotted;
                &.increased {
                    color: $degree-success-critical;
                }
                &.decreased {
                    color: $degree-failure-critical;
                }
            }

            .degree-of-success {
                .criticalSuccess {
                    color: $degree-success-critical;
                }
                .success {
                    color: $degree-success;
                }
                .failure {
                    color: $degree-failure;
                }
                .criticalFailure {
                    color: $degree-failure-critical;
                }
            }
        }
    }
}

> .message-content {
    .message-buttons[data-visibility] {
        display: flex;
        margin: 0.35em 0 2px;
    }
}
