.default section.window-content {
    padding: 0;
    overflow: hidden;
}

$header-height: 89px;   /* Adjust height of the header */

.actor.sheet {
    &.character .crb-style {
        @import "character";
    }

    &.vehicle .crb-style {
        @import "vehicle";
    }

    .crb-style {
        display: grid;
        grid:
            "sidebar header" 75px
                             "sidebar nav" minmax(min-content, max-content)
                             "sidebar content" 1fr
                             / 230px 1fr;

        font-family: var(--body-serif);

        background: url("../assets/sheet/header.webp"), url("../assets/sheet/background.webp");
        background-repeat: repeat-x, no-repeat;
        background-size: auto $header-height, cover;
        background-attachment: local;
        height: 100%;

        @import "sidebar", "header";

        $window-p-right: 20px;

        .char-header {
            grid-area: header;
            margin-right: $window-p-right;
        }
        .sheet-navigation {
            grid-area: nav;
            margin-left: -2px;
        }
        .sheet-body {
            grid-area: content;
            position: relative;

            .sheet-content,
            .sheet-content .inventory {
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                display: flex;
                flex-direction: column;
                width: 100%;
                padding-top: 8px;
                padding-left: 8px;

                & > .tab:not(.inventory),
                .inventory .inventory-list {
                    @include scrollbar;
                    flex-grow: 1;
                    min-height: 0;
                    overflow: hidden scroll;
                    padding-right: $window-p-right;
                }

                &.tab[data-tab] {
                    display: none;
                    &.active {
                        display: initial;
                    }
                }
            }

            .sheet-content {
                color: var(--body);
                @import "spell-list";

                .tab.inventory {
                    ol:not(.currency) {
                        @include p-reset;
                        list-style: none;
                        display: flex;

                        &:last-child {
                            margin-bottom: 42px;
                        }
                    }

                    .item-name {
                        display: flex;
                        align-items: center;
                        font-weight: 500;
                        flex: 2;

                        h3,
                        h4 {
                            margin-right: auto;
                            line-height: 12px;
                            padding: 2px;
                            word-break: break-word;
                            cursor: pointer;

                            &:hover {
                                color: var(--primary);
                            }
                        }

                        span {
                            margin: 0 4px;
                        }

                        .item-image {
                            height: 24px;
                            width: 24px;
                            box-shadow: inset 0 0 0 1px var(--tertiary);
                            background-size: cover;
                            padding: 12px;
                            cursor: pointer;
                            margin-right: 4px;
                        }
                    }

                    ol.inventory-list, ol.item-list {
                        list-style-type: none;
                        flex-direction: column;
                        width: 100%;
                        border: 1px solid var(--alt);
                        border-top: none;

                        & > li:nth-of-type(even) {
                            background-color: rgba($alt-color, 0.1);
                        }

                        li {
                            display: flex;
                            flex-wrap: wrap;
                            font-size: 0.75rem;
                            justify-content: flex-end;
                            padding: 0;
                            width: 100%;

                            &:last-child {
                                .item-summary {
                                    border-bottom: none;
                                }
                            }
                        }
                    }

                    .item-quantity,
                    .item-weight,
                    .item-controls,
                    .item-sell-value {
                        @include flex-center;
                        border-left: 1px solid var(--alt);
                    }

                    .item-quantity {
                        flex: 0 0 65px;

                        .item-decrease-quantity,
                        .item-increase-quantity {
                            @include flex-center;
                            height: 100%;
                            width: 18px;
                            text-align: center;
                        }
                    }

                    .item-weight {
                        flex: 0 0 36px;
                    }

                    .item-controls {
                        .item-control {
                            margin-right: 4px;
                            color: var(--body);
                        }
                    }

                    .inventory-header {
                        @include micro;
                        display: flex;
                        justify-content: flex-end;
                        align-items: center;
                        width: 100%;
                        background-color: var(--alt);
                        @include button;
                        margin-top: 8px;
                        padding: 4px;
                        color: white;

                        &:first-child {
                            margin-top: 0;
                        }

                        h3 {
                            font-size: 14px;
                            text-transform: capitalize;
                            text-shadow: 0 0 2px rgba(black, 0.75);
                            margin: 2px;
                            margin-left: 4px;
                            cursor: default;
                            &:hover {
                                color: white;
                            }
                        }

                        .item-sell-value,
                        .item-quantity,
                        .item-weight {
                            @include flex-center;
                            margin-right: -2px;
                        }

                        .item-invested-total {
                            margin-right: 3px;
                        }
                    }
                }

                footer {
                    @include micro;
                    color: var(--primary);
                    text-align: right;
                    line-height: 1.4;
                    margin: 1em 1em 0;
                }
            }
        }

        /* Navigation */
        @import "nav";

        /* Page structure elements */
        .stroke-header {
            position: relative;

            svg {
                position: absolute;
                fill: var(--primary);
            }

            h3 {
                position: relative;
            }
        }

        /* Read-Only Sheet */
        &.limited {
            @import "limited";
        }

        input {
            &.adjusted:not(:focus) {
                font-weight: 700;
                color: $adjusted-higher;
            }
        }

        button.tag:disabled {
            cursor: not-allowed;
            background-color: var(--color-text-dark-inactive);
        }
    }
}

@import "coinage";

/* Actor-type Imports */
@import "familiar";

@import "hazard";

.npc {
    @import "spell-list";
    @import "npc";
}

@import "loot";

/* Mystification data revealed to GMs */
.gm-mystified-data {
    opacity: 0.75;
}
