<div class="tab actions actions-pane" data-group="primary" data-tab="actions">
    <div class="actions-container">

        <div class="actions-tabs-wrapper">

            <nav class="actions-nav" data-group="actions-tabs">
                <a class="tab" data-tab="encounter" data-group="actions-tabs">{{localize "PF2E.TabActionsEncounterLabel"}}</a>
                <a class="tab" data-tab="exploration" data-group="actions-tabs">{{localize "PF2E.TabActionsExplorationLabel"}}</a>
                <a class="tab" data-tab="downtime" data-group="actions-tabs">{{localize "PF2E.TabActionsDowntimeLabel"}}</a>
            </nav>
            <section class="actions-panels">
                <div class="actions-panel" data-tab="encounter" data-group="actions-tabs">
                    <div class="actions-options item-list">
                        {{#each data.toggles.actions as |toggle idx|}}
                            <div class="actions-option item" data-toggle-property="{{toggle.inputName}}" data-toggle-label="{{localize toggle.label}}">
                                <label>
                                    <input type="checkbox" name="{{toggle.inputName}}" {{checked toggle.checked}} {{disabled (not toggle.enabled)}} />
                                    <span{{#if (not (or toggle.checked toggle.enabled))}} class="unchecked-disabled"{{/if}}>{{localize toggle.label}}</span>
                                </label>
                            </div>
                        {{/each}}
                    </div>

                    <ol class="actions-list item-list directory-list strikes-list">
                        <li class="action-header stroke-header">
                            {{> systems/pf2e/templates/actors/partials/images/header_stroke.html}}
                            <h3>{{localize "PF2E.StrikesLabel"}}</h3>
                            <div class="item-controls">
                                <a class="item-control toggle-unready-strikes" title="{{localize "PF2E.ToggleUnreadyStrikes"}}"><i class="fas fa-tshirt"{{#if actor.flags.pf2e.showUnreadyStrikes}} style="color: rgba(0, 0, 0, 0.4);"{{/if}}></i></a>
                            </div>
                        </li>
                        {{#each actor.data.actions as |action ai|}}
                            <li class="item expandable {{#if action.ready}}ready{{/if}}" data-action-index="{{ai}}">
                                <div class="item-name rollable">
                                    <div class="item-image variant-strike" data-action="strike-attack" data-variant-index="0" style="background-image: url({{action.imageUrl}})">
                                        <i class="fas fa-dice-d20"></i>
                                    </div>
                                    <div class="actions-title">
                                        <div class="action-name">
                                            <h4>{{action.name}}</h4>
                                            {{#if action.origin}}
                                                <div class="action-options" data-item-id="{{action.origin.id}}">
                                                    {{#with action.origin.ammo.charges}}
                                                        {{#if (gt max 1)}}
                                                            <span class="ammo-remaining"><i class="ammo-icon"></i> {{current}}</span>
                                                        {{/if}}
                                                    {{/with}}

                                                    {{#if (eq action.origin.type "weapon")}}
                                                        {{> "systems/pf2e/templates/actors/partials/carry-type.html" item=action.weapon.data}}
                                                    {{/if}}
                                                </div>
                                            {{/if}}
                                        </div>
                                        <!-- ATTACK/DAMAGE -->
                                        {{#if (any action.ready ../actor.flags.pf2e.showUnreadyStrikes)}}
                                            {{#> attackDamage action}}{{/attackDamage}}
                                        {{/if}}
                                    </div>
                                </div>
                                {{#if (and action.meleeUsage (or action.ready ../actor.flags.pf2e.showUnreadyStrikes))}}
                                    <div class="melee-usage">
                                        <img class="melee-icon" src="systems/pf2e/icons/mdi/sword.svg" />
                                        {{#> attackDamage action.meleeUsage isMeleeUsage=true}}{{/attackDamage}}
                                    </div>
                                {{/if}}
                                <div class="auxiliary-actions{{#if action.ready}} weapon-drawn{{/if}}">
                                    {{#each action.auxiliaryActions as |aux aid|}}
                                        <button type="button" class="" data-action="auxiliary-action" data-auxiliary-action-index="{{aid}}">
                                            <span class="activity-icon">{{aux.img}}</span>
                                            <span>{{aux.label}}</span>
                                        </button>
                                    {{/each}}
                                </div>
                                <div class="item-summary">
                                    <div class="item-description">
                                        <p>{{{localize action.description}}}</p>
                                        <hr/>
                                        <dl>
                                            <dt>{{{localize "PF2E.CritSuccess"}}}</dt>
                                            <dd>{{{localize action.criticalSuccess}}}</dd>
                                            <dt>{{{localize "PF2E.Success"}}}</dt>
                                            <dd>{{{localize action.success}}}</dd>
                                        </dl>
                                    </div>
                                    <div class="item-properties tags">
                                        {{#each action.traits as |trait|}}
                                            <span class="tag tag_secondary {{trait.cssClass}}" {{#if trait.description}}data-description="{{trait.description}}"{{/if}} {{#if trait.toggle}}data-roll-name="{{trait.rollName}}" data-roll-option="{{trait.rollOption}}"{{/if}}>{{localize trait.label}}</span>
                                        {{/each}}
                                    </div>
                                </div>
                            </li>
                        {{/each}}
                    </ol>
                    <ol class="actions-list item-list directory-list">
                        {{#each actor.actions as |section sid|}}
                            <li class="action-header stroke-header">
                                {{> systems/pf2e/templates/actors/partials/images/header_stroke.html}}
                                <h3>{{section.label}}</h3>
                                {{#if @root.owner}}
                                    <div class="item-controls">
                                        <a class="item-control item-create" title="{{localize "PF2E.CreateActionTitle"}}" data-type="action" data-action-type="{{sid}}"><i class="fas fa-plus"></i></a>
                                        <a class="item-control action-browse" title="{{localize "PF2E.OpenActionBrowserTitle"}}" data-type="feat"><i class="fas fa-search"></i></a>
                                    </div>
                                {{/if}}
                            </li>
                            {{#each section.actions as |action aid|}}
                                {{#if action.encounter}}
                                    <li class="item" data-item-id="{{action._id}}">
                                        <div class="item-name rollable">
                                            <div class="item-image" style="background-image: url({{action.img}})">
                                                <i class="fas fa-comment-alt"></i>
                                            </div>
                                            <h4>{{action.name}}</h4>
                                        </div>
                                        {{#if @root.owner}}
                                            <div class="item-controls">
                                                <a class="item-control item-edit" title="{{localize "PF2E.EditItemTitle"}}"><i class="fas fa-edit"></i></a>
                                                {{#unless action.feat}}
                                                    <a class="item-control item-delete" title="{{localize "PF2E.DeleteItemTitle"}}"><i class="fas fa-trash"></i></a>
                                                {{/unless}}
                                            </div>
                                        {{/if}}
                                    </li>
                                {{/if}}
                            {{/each}}
                        {{/each}}
                    </ol>
                </div>
                <div class="actions-panel" data-tab="exploration" data-group="actions-tabs">
                    <ol class="actions-list item-list directory-list">
                        <li class="action-header stroke-header">
                            {{> systems/pf2e/templates/actors/partials/images/header_stroke.html}}
                            <h3>{{localize "PF2E.ActionsActionsHeader"}}</h3>
                            {{#if owner}}
                                <div class="item-controls" style="display: flex">
                                    <a class="item-control item-create" title="{{localize "PF2E.CreateActionTitle"}}" data-type="action" data-action-type="free"><i class="fas fa-plus"></i></a>
                                    <a class="item-control action-browse" title="{{localize "PF2E.OpenActionBrowserTitle"}}" data-type="feat"><i class="fas fa-search"></i></a>
                                </div>
                            {{/if}}
                        </li>
                        {{#each actor.actions.free.actions as |action aid|}}
                            {{#if action.exploration}}
                                <li class="item" data-item-id="{{action._id}}">
                                    <div class="item-name rollable">
                                        <div class="item-image" style="background-image: url({{action.img}})">
                                            <i class="fas fa-comment-alt"></i>
                                        </div>
                                        <h4>{{action.name}}</h4>
                                    </div>
                                    {{#if ../owner}}
                                        <div class="item-controls">
                                            <a class="item-control item-edit" title="{{localize "PF2E.EditItemTitle"}}"><i class="fas fa-edit"></i></a>
                                            {{#unless action.feat}}
                                                <a class="item-control item-delete" title="{{localize "PF2E.DeleteItemTitle"}}"><i class="fas fa-trash"></i></a>
                                            {{/unless}}
                                        </div>
                                    {{/if}}
                                </li>
                            {{/if}}
                        {{/each}}
                    </ol>
                </div>
                <div class="actions-panel" data-tab="downtime" data-group="actions-tabs">
                    <ol class="actions-list item-list directory-list">
                        <li class="action-header stroke-header">
                            {{> systems/pf2e/templates/actors/partials/images/header_stroke.html}}
                            <h3>{{localize "PF2E.ActionsActionsHeader"}}</h3>
                            {{#if owner}}
                                <div class="item-controls" style="display: flex">
                                    <a class="item-control item-create" title="{{localize "PF2E.CreateActionTitle"}}" data-type="action" data-action-type="free"><i class="fas fa-plus"></i></a>
                                    <a class="item-control action-browse" title="{{localize "PF2E.OpenActionBrowserTitle"}}" data-type="feat"><i class="fas fa-search"></i></a>
                                </div>
                            {{/if}}
                        </li>
                        {{#each actor.actions.free.actions as |action aid|}}
                            {{#if action.downtime}}
                                <li class="item" data-item-id="{{action._id}}">
                                    <div class="item-name rollable">
                                        <div class="item-image" style="background-image: url({{action.img}})">
                                            <i class="fas fa-comment-alt"></i>
                                        </div>
                                        <h4>{{action.name}}</h4>
                                    </div>
                                    {{#if ../owner}}
                                        <div class="item-controls">
                                            <a class="item-control item-edit" title="{{localize "PF2E.EditItemTitle"}}"><i class="fas fa-edit"></i></a>
                                            {{#unless action.feat}}
                                                <a class="item-control item-delete" title="{{localize "PF2E.DeleteItemTitle"}}"><i class="fas fa-trash"></i></a>
                                            {{/unless}}
                                        </div>
                                    {{/if}}
                                </li>
                            {{/if}}
                        {{/each}}
                    </ol>
                </div>
            </section>
        </div>
    </div>
</div>

{{#*inline "attackDamage"}}
    <div class="button-group tags">
        {{#each variants as |variant vi|}}
            <button type="button" class="tag variant-strike" data-action="strike-attack" data-variant-index="{{vi}}" data-melee-usage="{{../isMeleeUsage}}"
                {{#if (eq ../quantity 0)}} disabled="disabled" title="{{localize "PF2E.ErrorMessage.WeaponQuantityZero"}}"{{/if}}>
                {{#if (eq vi 0)}}<span class="activity-icon">{{../glyph}}</span>{{/if}}
                {{variant.label}}
            </button>
        {{/each}}
        <button type="button" class="tag damage" data-action="strike-damage" data-melee-usage="{{isMeleeUsage}}">{{localize "PF2E.DamageLabel"}}</button>
        <button type="button" class="tag damage" data-action="strike-critical" data-melee-usage="{{isMeleeUsage}}">{{localize "PF2E.CriticalDamageLabel"}}</button>
        {{#if ammunition}}
            <select name="ammo-used"{{#if ammunition.selected}} data-compatible="{{ammunition.selected.compatible}}"{{/if}}>
                {{#select ammunition.selected.id}}
                    <option value="">{{localize "PF2E.NoAmmoLabel"}}</option>
                    {{#each ammunition.compatible as |ammo|}}
                        <option value="{{ammo._id}}" data-compatible="true">{{ammo.name}} ({{ammo.data.quantity}})</option>
                    {{/each}}
                {{/select}}
            </select>
        {{/if}}
    </div>
{{/inline}}

<!-- ********** ACTIONS ************ -->
